###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Make sh files under the build directory always have LF as line endings
###############################################################################
*.sh eol=lf

###############################################################################
# Make gradlew always have LF as line endings
###############################################################################
gradlew eol=lf