version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

services:
  otel-collector:
    image: otel/opentelemetry-collector:0.61.0
    command:
      [
        '--config=/etc/otel-collector.yaml',
        '--feature-gates=pkg.translator.prometheus.NormalizeName',
      ]
    volumes:
      - ./etc/otel-collector.yaml:/etc/otel-collector.yaml
    ports:
      - '1888:1888' # pprof extension
      - '8888:8888' # Prometheus metrics exposed by the collector
      - '8889:8889' # Prometheus exporter metrics
      - '13133:13133' # health_check extension
      - '4317:4317' # OTLP gRPC receiver
      - '4318:4318' # OTLP HTTP receiver
      - '55679:55679' # zpages extension
    depends_on:
      - tempo
      - prometheus
    deploy:
      resources:
        limits:
          memory: 125M
    restart: unless-stopped
    logging: *logging

  tempo:
    image: grafana/tempo:2.2.3
    container_name: tempo
    command: ['-config.file=/etc/tempo.yaml', '-search.enabled=true']
    volumes:
      - ./etc/tempo.yaml:/etc/tempo.yaml
      - ./data/tempo-data:/tmp/tempo
    ports:
      - '14268' # jaeger ingest
      - '3200' # tempo
      - '4317' # otlp grpc
      - '4318' # otlp http
      - '9411' # zipkin
    healthcheck:
      interval: 5s
      retries: 10
      test: wget --no-verbose --tries=1 --spider http://localhost:3200/status || exit 1
    logging: *logging
    networks:
      - hutech-network

  loki:
    image: grafana/loki:2.8.5
    container_name: loki
    command: -config.file=/etc/loki/loki.yaml
    ports:
      - '3100:3100'
    environment:
      - JAEGER_AGENT_HOST=tempo
      - JAEGER_ENDPOINT=http://tempo:14268/api/traces
      - JAEGER_SAMPLER_TYPE=const
      - JAEGER_SAMPLER_PARAM=1
    volumes:
      - ./etc/loki.yaml:/etc/loki/loki.yaml
      - ./data/loki-data:/tmp/loki
    logging: *logging
    networks:
      - hutech-network

  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - ./etc/promtail-config.yaml:/etc/promtail/config.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki
    logging: *logging
    networks:
      - hutech-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./etc/prometheus.yaml:/etc/prometheus.yaml
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --storage.tsdb.retention.time=1h
      - --web.enable-lifecycle
      - --web.route-prefix=/
      - --web.console.templates=/etc/prometheus/consoles
      - --web.console.libraries=/etc/prometheus/console_libraries
    ports:
      - '9090:9090'
    healthcheck:
      interval: 5s
      retries: 10
      test: wget --no-verbose --tries=1 --spider http://localhost:9090/status || exit 1
    logging: *logging
    networks:
      - hutech-network

  grafana:
    image: grafana/grafana:9.2.20
    container_name: grafana
    extra_hosts: ['host.docker.internal:host-gateway']
    volumes:
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./provisioning/dashboards-provisioning:/etc/grafana/provisioning/dashboards
      - ./provisioning/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - '3000:3000'
    depends_on:
      - prometheus
      - tempo
      - loki
    healthcheck:
      interval: 5s
      retries: 10
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    logging: *logging
    networks:
      - hutech-network

networks:
  hutech-network:
    name: hutech-network
    external: true
